* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(143, 143, 207);
    color: pink;

}

/* button {
    background-color: #4CAF50;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} */

.container {

    width: 95%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0;
}

.nav h1 {
    font-size: 3rem;
}

.user-input {

    width: 350px;
    text-align: center;

}

.user-input input {
    width: 80%;
    outline: none;
    padding: 8px;
    border: 1px solid purple;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}



.user-input input:focus {
    box-shadow: 0 0 5px hotpink;
    border: 2 px solid hotpink;
}


.user-input button {
    cursor: pointer;
    padding: 10px;
    width: fit-content;
    transition: 1s;
    background-color: rgb(102, 25, 165);
    border: 1px solid rgb(102, 25, 165);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

/* .user-input button:hover {
    background-color: transparent;
    color: rgb(255, 255, 255);
} */

/* .List {
    width: 500px;
    margin: auto;
} */

.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 6px;
    padding: 16px;
    color: rgba(0, 0, 0, 0.404);
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: white;
}

.item:hover {
    box-shadow: 0 0 40px rgb(91, 91, 141);
    border: 1px solid lavender;
}


@media(max-width:768px) {
    .nav {
        align-items: center;
        flex-direction: column;
    }


    .user-input {
        width: 100%;
    }

    .to-do-items {
        width: 100%;
    }
}


@media(max-width:480px) {
    .user-input input {
        width: 74%;
    }
}

@media(max-width:320px) {
    .user-input input {
        width: 60%;
    }
}